<launch>
    <arg name="rosbot_pro" default="false"/>
    
    <include unless="$(arg rosbot_pro)" file="$(find rosbot_ekf)/launch/rosserial_bridge.launch"/>
    
    <include if="$(arg rosbot_pro)" file="$(find rosbot_ekf)/launch/rosserial_bridge.launch">
        <arg name="serial_port" value="/dev/ttyS4"/>
        <arg name="serial_baudrate" value="460800"/>
    </include>

    <include file="$(find rosbot_ekf)/launch/message_conversion.launch"/>

    <include file="$(find rosbot_ekf)/launch/rosbot_ekf.launch"/>
    
    <node pkg="tf" type="static_transform_publisher" name="imu_publisher" args="0 0 0.02 0 0 0 base_link imu_link 100" />

</launch>

