<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="rosbot_ekf" clear_params="true">
    <rosparam command="load" file="$(find rosbot_ekf)/params/ekf_params.yaml" />

   <!--  Placeholder for output topic remapping -->
    <remap from="odometry/filtered" to="odom"/>
    <!-- <remap from="accel/filtered" to=""/> -->
   
  </node>
</launch>
